@import "reset.css";

div {
    width: 1130px;
    height: 100%;
  }

div.header {
    width: 1130px;
    box-sizing: border-box;
    background: #dddddd;
}

div.left {
    width: 130px;
    float: left;
    box-sizing: border-box;
    background: #dddddd;
}

div.right {
    width: 1000px;
    float: right;
    box-sizing: border-box;
    background: #ffffff;
}

.menu {
    width: 130px;
    overflow: hidden;
    font-family: 'KoPubWorldDotum';
    font-weight: 700;
}
  
.menu > li {
    width: 100%;
    text-align: left;
    line-height: 20px;
    background-color: #ffffff;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.submenu > li {
    line-height: 20px;
    background-color: #ffffff;
}

.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
    font-family: 'KoPubWorldDotum';    
    font-weight: 300;
}

.menu > li:hover {
    background-color: #ffffff;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 100%; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}